.we_have_done {
    max-width: 1620px;
}

.we_have_done__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.we_have_done__view-more {
    width: 258px;
    height: 60px;
    background: #F6FBFA;
    border: 2px solid green;
    border-radius: 8px;
    transition: 0.4s;
}

.we_have_done__view-more__text {
    font-family: 'Poppins';
    font-weight: 700;
}

.we_have_done__view-more {
    margin-left: 66%;
}