.our_partnership {
    height: auto;
    margin: 20px auto 20px auto;
}

.our_partnership__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #121E31;
    margin-top: 40px;
}

.our_partnership__logotypes {
    margin-top: 50px;
}
