<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container-xxl row mx-auto container">
        
        <div class="d-flex justify-content-between ">
            <div class="d-grid gap-5">
                <div class="w-50">
                    <p class="fw-bold" style="color: rgba(27, 130, 113, 1); ">SUCCESS STORY</p>
                    <h2 class="fw-bolder">Read They Story With Akcel</h2>
                    <p class="fs-6 fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
                <div>
                    
                </div>
                
            </div>
            <button type="button" class="rounded d-flex w-25 py-2 px-3 btn my-auto justify-content-between" style="background-color: #1B8271;">
                <p class="text-white my-auto ">View More</p>
                <img src="./images/arrow.svg " alt="" class="my-auto">
            </button>
        </div>
        <div class="row ">
            <div class="col w-50">
                <img src="./images/placeholder.svg" alt="" class="w-100">
            </div>
            <div class="col w-50 d-grid align-content-between flex-wrap">
                <h3 class="fw-bold">Samcung Okulus Rivt PC - Powered VR  Gaming Headset</h3>
                <p class="fs-6 fw-light" >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
                <div>
                    <h2 class="fw-semibold" style="color: rgba(27, 130, 113, 1); ">$ 24,553,852.24</h2>
                    <p>Total funded</p>
                </div>
                

                <div class="d-flex pe-2">
                    <img src="./images/user.svg" alt="" >
                    <div class="my-auto ps-3">   
                        <div class="d-flex gap-2">
                            <p class="my-auto">Hendric Anderson</p> 
                            <img src="./images/Vector.svg" alt="">
                            <img src="./images/Vector.svg" alt="">
                            <img src="./images/Vector.svg" alt="">
                        </div>
                        <div class="d-flex gap-3">
                            <p class="my-auto">12 Campaign</p>
                            <img src="./images/dot.svg" alt="">
                            <p class="my-auto">New York, London</p>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
</body>
</html>