.categories__header {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #1B8271;
    margin-top: 200px;
}

.categories__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.categories__text {
    font-family: 'Open Sans';
    line-height: 28px;
    max-width: 805px;
    margin: auto;
}

.categories-main {
    max-width: 1620px;
}

.categories-main__part {
    max-width: 791px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 14px;
    transition: 0.4s;
}

.categories-main__part__title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
}

.categories-main__part__text {
    font-family: 'Open Sans';
    line-height: 28px;
    margin-top: 15px;
    max-width: 603px;
    padding-bottom: 35px;
}

.categories-main__part__logo {
    width: 80px;
    height: 80px;
    margin: 30px 0 0 5%;
}

.categories-main__part:hover {
    border: 2px solid #D7D7D7;
    cursor: pointer;
    box-shadow: 0px 25px 30px rgba(184, 184, 184, 0.36);
}

@media(max-width: 990px) {
    .categories-main__part {
        margin: auto;
    }
}