.categories {
    max-width: 1620px;
}

.categories__header {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #1B8271;
    text-align: center;
}

.categories__title {
    max-width: 666px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #121e31;
    margin: 30px auto 50px auto;
}

.categories__item {
    max-width: 381px;
    min-height: 345px;
    background: #FFFFFF;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin: 0 auto 0 auto;
}

.categories__item__icon {
    margin: 10% 0 0 10%;
    width: 90px;
    height: 90px;
}

.categories__item__category {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin: 10% 0 0 10%;
}

.categories__item__text {
    max-width: 301px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #121e31;
    margin: 10% 0 0 10%;
}

.categories-row {
    margin: 30px auto 0 auto;
}


.categories__item:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
}