.team_members__header__header {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1B8271;
    margin-top: 50px;
}

.team_members__header__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #121e31;
    margin-top: 20px;
}

.team_members__header__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #121e31;
    max-width: 795px;
    margin: 30px auto 0 auto;
}

.team_members__main {
    max-width: 90%;
    margin-top: 35px;
}

.team_members__main__profile {
    margin: 0 auto 0 auto;
    display: block;
}

.team_members__main__name {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #121e31;
    text-align: center;
    margin-top: 15px;
}

.team_members__main__job {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #717579;
}