.about_project {
    max-width: 1066px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

.about_project__main {
    max-width: 966px;
    margin: auto;
}

.about_project__main__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #717579;
    text-decoration: none;
}
.about_project__main__title:hover {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #121E31;
}

.about_project__main__description {
    font-family: 'Open Sans';
    line-height: 28px;
}