.change {
    max-width: 600px;
    background: white;
    border-radius: 14px;
    margin: 50px auto 100px auto;
    transition: 0.4s;
    padding: 25px 35px;
}

.change:hover {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
}

.change-text {
    color: #717579;
    margin-top: 30px;
}

.change-input {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: #121e31;
    padding: 18px 0 18px 10px;
    margin-top: 18px;
    background: #FBFBFB;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    transition: 0.4s;
}