.our_mission {
    max-width: 1620px;
    margin-top: 100px;
}

.our_mission__title {
    font-family: 'Poppins';
    font-weight: 700;
}

.our_mission__main {
    max-width: 666px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.our_mission__main_text {
    max-width: 669px;
    font-size: 18px;
}

.our_mission__number {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
}

.our_mission__number_text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}

.our_mission__button__first {
    width: 221px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: #FF7468;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
}

.our_mission__button__first:hover {
    box-shadow: 0px 25px 50px rgba(255, 116, 104, 0.36);
}

.our_mission__button__second {
    width: 167px;
    height: 60px;
    border: 2px solid #D7D7D7;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
}

.our_mission__button__second:hover {
    box-shadow: 0px 25px 50px rgba(156, 156, 156, 0.36);
}

@media(max-width: 990px) {

    .our_mission__panel,
    .our_mission__main,
    .our_mission__main_text,
    .our_mission__number,
    .our_mission__number_text,
    .our_mission-buttons {
        margin: auto;
        text-align: center;
    }

    .our_mission-mission {
        justify-content: center;
    }
}