<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="style.css" />

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <div class="our_mission">
        <div class="our_mission__left__panel">
            <img src="images/panel.svg" />
        </div>
        <div class="our_mission__right">
            <img src="images/rectangle.svg" />
            <span class="our_mission__right__title">Our Mission</span>
            <div class="our_mission__right__header">Change The World for Better Futures</div>
            <div class="our_mission__right__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</div>
            <div class="our_mission__right__text__numbers_and_text">
                <div>
                    <div class="our_mission__right__number">4,556</div>
                    <div class="our_mission__right__number-text">Total Donor</div>
                </div>
                <div>
                    <div class="our_mission__right__number">874</div>
                    <div class="our_mission__right__number-text">Projects</div>
                </div>
                <div>
                    <div class="our_mission__right__number">$ 195,234k</div>
                    <div class="our_mission__right__number-text">Total Donation</div>
                </div>
            </div>
            <img src="images/line.svg" class="our_mission__right__line" />
            <button type="button" class="our_mission__right__button_see_projects">
                <span>See projects</span>
                <img src="images/vector.svg" class="our_mission__right__button_see_projects__vector"/>
            </button>
            <button type="button" class="our_mission__right__button__how_it_works">
                <span>How It Works</span>
            </button>
        </div>
    </div>

</body>

</html>