.latest_news {
    max-width: 1620px;
    margin: 48px auto 31px auto;
}

.latest_news__item {
    width: 500px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.02);
    border-radius: 20px;
}

.latest_news__item__logo {
	position: relative;
}

.latest_news__item__category {
	position: absolute;
	margin: 30px 0 0 30px;
	text-transform: uppercase;
	text-align: center;
	background: #FF7468;
	border-radius: 14px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	padding: 18px 24px;
	top: 0;
}

.latest_news__item__background {
    max-width: 100%;
    height: 318px;
    background: #C4C4C4;
    border-radius: 15px 14px 0px 0px;
}

.latest_news__item__name {
    max-width: 438.34px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #121E31;
    margin: 40px auto 0 30px;
}

.latest_news__item__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #121E31;
    margin: 20px auto 0 30px;
    max-width: 438.34px;
}

.latest_news__item__author {
    max-width: 435px;
    height: 73px;
    margin: 20px auto 20px 30px;
}

.latest_news__item__author__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #121E31;
}

.latest_news__item__author__read-time {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #717579;
    margin-right: 10px;
}

.latest_news__item__author__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #717579;
    margin-left: 10px;
}

.latest_news__button {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #F9F9FA;
    background: #FF7468;
    border-radius: 8px;
    border: none;
    padding: 16px 57px;
    width: 250px;
    margin-top: 50px;
}
.latest_news__button:active {
    background: rgba(255, 116, 104, 0.8);
}

.col-4 {
	padding: 0;
}