<!DOCTYPE html>

<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <div class="container p-0 latest_news">
        <div class="row d-flex justify-content-between">
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Health</div>					
				</div>
				<div class="latest_news__item__name">New vaccine for cattle protects against fetal calf loss from EBA – anatomy of..</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Hawkins Junior</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-4 latest_news__item">
				<div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Business</div>
				</div>
				<div class="latest_news__item__name">The Tech That Will Invade Our Lives in 2021 Faster</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Kevin Kean</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Design</div>
				</div>
                <div class="latest_news__item__name">To Keep Moving, Download Some Greate Ambition</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Melinda Humbles</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between" style="margin-top: 45px">
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Health</div>
				</div>
                <div class="latest_news__item__name">New vaccine for cattle protects against fetal calf loss from EBA – anatomy of..</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Hawkins Junior</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Business</div>
				</div>
                <div class="latest_news__item__name">4 Things parents learned for they jids in 2020</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Jean Kapoor</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Design</div>
				</div>
                <div class="latest_news__item__name">He Created the Web. Now He’s Out to Remake the Digital World.</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Melinda Humbles</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between" style="margin-top: 45px">
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Health</div>
				</div>
                <div class="latest_news__item__name">New vaccine for cattle protects against fetal calf loss from EBA – anatomy of..</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Hawkins Junior</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Business</div>
				</div>
                <div class="latest_news__item__name">New vaccine for cattle protects against fetal calf loss from EBA – anatomy of..</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Kevin Kean</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 latest_news__item">
                <div class="latest_news__item__logo">
					<div class="latest_news__item__background"></div>
					<div class="latest_news__item__category">Design</div>
				</div>
                <div class="latest_news__item__name">New vaccine for cattle protects against fetal calf loss from EBA – anatomy of..</div>
                <div class="latest_news__item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="latest_news__item__author">
                    <div class="d-flex">
                        <img src="images/icon.svg" />
                        <div style="margin-left: 5%">
                            <div class="latest_news__item__author__name">Melinda Humbles</div>
                            <div class="d-flex" style="margin-top: 20px">
                                <div class="latest_news__item__author__read-time">24min read</div>
                                <img src="images/dot.svg" />
                                <div class="latest_news__item__author__date">November 21th, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="latest_news__button">LOAD MORE</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
