.fundraising_main {
    min-height: 896px;
    background-color: rgb(27, 130, 113);
    margin-top: 100px;
}

.fundraising_main__into {
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background-color: white;
    margin: -647px auto 50px auto;
}

.fundraising_main__into__img {
    height: 100%;
}

.fundraising-img {
    width: 100%;
}

@media(max-width: 400px) {
    .fundraising-title {
        font-size: 35px;
        line-height: 50px;
    }
}

@media(max-width: 991px) {
    .fundraising-img {
        width: 100%;
        padding: 0 25px;
    }
}