.support_others_projects {
    max-width: 504px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

.support_others_projects__theme {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
}

.support_others_projects__background {
    max-width: 404px;
    height: 152px;
    background: #C4C4C4;
    border-radius: 14px;
    margin: auto;
}

.support_others_projects__title {
    max-width: 404px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin: auto;
}

.support_others_projects__description {
    max-width: 404px;
    font-family: 'Open Sans';
    line-height: 28px;
    margin: auto;
}

.support_others_projects__author-right {
    margin-left: 20px;
}

.support_others_projects__author__author {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.support_others_projects__author__campaign {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}

.support_others_projects__author__location {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717579;
}

.support_others_projects__button {
    width: 96%;
    min-height: 60px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    background: #1B8271;
    border-radius: 8px;
    border: none;
}

@media (max-width: 990px) {
    .support_others_projects__author-right {
        margin-left: 0;
    }
}