<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <link rel="stylesheet" href="style.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container support_others_project p-0">
        <div>
            <div class="support_others_project__header">Support others project</div>
            <div class="support_others_project__image"></div>
            <div class="support_others_project__title">Gen3 Airoha Air Pro 3 TWS Cancel Headphone</div>
            <div class="support_others_project__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</div>
            <div class="support_others_project__profile">

                <div>
                    <img src="images/profile.svg" />
                </div>

                <div>
                    
                    <span class="support_others_project__profile__name">Hendric Anderson</span> 
                    <span class="support_others_project__stars">
                        <img src="images/star.svg" />
                        <img src="images/star.svg" />
                        <img src="images/star.svg" />
                    </span>
                    
                    <div class="support_others_project__bottom-part">

                        <span class="support_others_project__campaign">12 Campaign</span>
                        <span>
                            <img src="images/dot.svg" class="support_others_project__dot" />
                        </span>
                        <span class="support_others_project__city">New York, London</span>

                    </div>
                
                </div>
            
            </div>
            <div class="d-flex justify-content-center text-align-center">
                <button type="button" class="support_others_project__button">Fund this project</button>
            </div>
            <img src="images/rectangle.svg" class="support_others_project__rectangle" />

        </div>
        
        
        <div>
            <div class="support_others_project__image"></div>
            <div class="support_others_project__title">Gen3 Airoha Air Pro 3 TWS Cancel Headphone</div>
            <div class="support_others_project__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</div>
            <div class="support_others_project__profile">

                <div>
                    <img src="images/profile.svg" />
                </div>

                <div>

                    <span class="support_others_project__profile__name">Hendric Anderson</span>
                    <span class="support_others_project__stars">
                        <img src="images/star.svg" />
                        <img src="images/star.svg" />
                        <img src="images/star.svg" />
                    </span>

                    <div class="support_others_project__bottom-part">

                        <span class="support_others_project__campaign">12 Campaign</span>
                        <span>
                            <img src="images/dot.svg" class="support_others_project__dot" />
                        </span>
                        <span class="support_others_project__city">New York, London</span>

                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-center text-align-center">
                <button type="button" class="support_others_project__button">Fund this project</button>
            </div>

        </div>

    </div>

</body>

</html>