.background_container {
	margin: 170px auto 0 auto;
	max-width: 1600px;
	padding: 80px;
	background: var(--green);
	border-radius: 14px;
	background-repeat: no-repeat;
}

.donations-text {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
}