.related {
    max-width: 1620px;
}

.related__theme {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
}

.related__item {
    width: 509px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.02);
    border-radius: 20px;
}

.related__item__logo {
    position: relative;
}

.related__item__logo__category {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    padding: 18px 18px 18px 22px;
    background: #FF7468;
    border-radius: 14px;
    position: absolute;
    margin: -60% 0 0 13px;
}

.related__item__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    max-width: 440px;
    margin: 30px 0 0 30px;
}

.related__item__href {
    text-decoration: none;
    color: #121E31;
}

.related__item__href:hover {
    color: rgba(0, 19, 102, 0.7);
}

.related__item__description {
    font-family: 'Open Sans';
    line-height: 28px;
    max-width: 450px;
    margin: 20px auto 0 30px;
}

.related__item__author {
    margin: 20px 0 0 30px;
}

.related__item__author__author__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.related__item__author__author__time-date{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717579;
}