.header__top__left__button-moded {
    width: 168px;
    height: 45px;
    background: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 600;
}

.header__top__left__button-moded:hover {
    box-shadow: 0px 25px 50px rgba(44, 44, 44, 0.2);
}

.header-bottom__ref-moded {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header-bottom__ref-moded:hover {
    color: #999999;
}

.header_modes-bg {
    background-color: var(--green);
}

.header_modes-bg-picture {
    height: 500px;
    background-repeat: no-repeat;
}

.header_modes__title {
    max-width: 858px;
    margin: auto;
    padding-top: 100px;
}

.input {
    max-width: 1056px;
    min-height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: -50px auto;
}

.input__input {
    outline: none;
    width: 100%;
    background-color: white;
    border: 2px solid white;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary);
    transition: 0.3s;
}

.input__input:hover,
.input__input:focus {
    border: 2px solid gray;
}


.popular_search {
    max-width: 1050px;
    margin: 100px auto;
}

.popular_search__search {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}
.popular_search__search.search:hover {
    color: rgba(27, 130, 113, 0.8);
}