.sign-up-btn {
    width: 168px;
    height: 45px;
    background: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 600;
}

.sign-up-btn:hover {
    box-shadow: 0px 25px 50px rgba(208, 208, 208, 0.2);
}

.header-ref {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header-ref:hover {
    color: #999999;
}

.header-bg {
    background-color: var(--green);
}

.header-bg-picture {
    height: 500px;
    background-repeat: no-repeat;
}

.header-title {
    max-width: 858px;
    margin: auto;
    padding-top: 100px;
}

.header-input-container {
    max-width: 1056px;
    min-height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: -50px auto;
}

.header-input {
    outline: none;
    width: 100%;
    background-color: white;
    border: 2px solid white;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary);
    transition: 0.3s;
}

.header-input:hover,
.header-input:focus {
    border: 2px solid gray;
}

.header-popular-search {
    max-width: 1050px;
    margin: 100px auto;
}