.color1 {
    color: #121E31;
}

.akcel_news {
    min-height: 200px;
    background: rgba(27, 130, 113, 1);
}

.akcel_news__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
}

.aksel_news__text {
    max-width: 805px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    margin: auto;
}

.filters {
    max-width: 1620px;
}

.filters__left__input {
    width: 85%;
    min-height: 58px;
    background: #f0f0f0;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.filters__left-input {
    justify-content: start;
}

.filters__left__input::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #717579;

}

.filters__right-col {
    justify-content: end;
}

.filters__right__categories {
    width: 260px;
    min-height: 58px;
    background: #e0fff9;
    border-radius: 8px;
    justify-content: space-around;
}

.filters__right__categories__select {
    background: #e0fff9;
    border: none;
    color: green;
    height: 58px;
    text-align: center;
}

.filters__right__categories__select.date {
    background: #e0fff9;
    border: none;
    color: green;
    width: 20px;
}

.filters__right__categories__select:active {
    border: none;
}

.filters__right__categories__select:hover {
    cursor: pointer;
}

.filters__right__categories__text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.filters__right__date {
    width: 220px;
    height: 58px;
    background: #e0fff9;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.filters__right__time {
    width: 161px;
    height: 58px;
    background: #e0fff9;
    border-radius: 8px;
    justify-content: end;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

@media(max-width: 1200px) {
    .filters__right-col {
        justify-content: center;
    }
    .filters__left-input {
        justify-content: center;
    }
}

.aksel_news-header {
    margin-top: 150px;
}

.aksel_news-header__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #080A12;
    margin-top: 30px;
}

.aksel_news-header__text {
    font-family: 'Open Sans';
    text-align: center;
    line-height: 28px;
    color: #121e31;
    max-width: 669px;
    margin: 20px auto 0 auto;
}

.aksel_news-main {
    max-width: 1620px;
}

.aksel_news-main-item {
    width: 509px;
    min-height: 620px;;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.02);
    border-radius: 20px;
}

.aksel_news-main__logo {
    position: relative;
}

.aksel_news-main__category {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    padding: 18px 18px 18px 22px;
    background: #FF7468;
    border-radius: 14px;
    position: absolute;
    margin: -60% 0 0 13px;
}

.aksel_news-main__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    max-width: 440px;
    margin: 30px 0 0 30px;
}

.aksel_news-main-item-href {
    text-decoration: none;
    color: #121E31;
}
.aksel_news-main-item-href:hover {
    color: rgba(0, 19, 102, 0.7);
}

.aksel_news-main__text {
    font-family: 'Open Sans';
    line-height: 28px;
    max-width: 450px;
    margin: 20px auto 0 30px;
}

.aksel_news-main__author {
    margin: 20px 0 0 30px;
}

.aksel_news-main__author__author__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.aksel_news-main__author__time-read {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717579;
}

.filter_category__btnn:active {
    background-color: rgba(255, 116, 104, 0.7);
}