.news_details_background {
    height: 750px;
    background: #C4C4C4;
}

.news_details {
    max-width: 1350px;
    height: 1900px;
    margin-top: 70px;
}

.news_details__header {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #06040A;
}

.news_details__header__left__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #121e31;
}

.news_details__header__left__bottom {
    margin: 25px 0 0 0;
}

.news_details__header__left__bottom__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #717579;
}

.news_details__header__left__bottom__dot {
    margin: 1px 10px 0 10px;
}

.news_details__header__right__logo {
    max-width: 180px;
    height: auto;
    border: 1px solid #E4F0F7;
    border-radius: 14px;
    background: #FFFFFF;
}

.news_details__header__right__logo__text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121e31;
    padding: 15px 15px 15px 10px;
}

.news_details__header__right__whatsapp {
    border: none;
    width: 68px;
    height: 68px;
    background: #4CAF50;
    border-radius: 14px;
    margin-left: 20px;
}

.news_details__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #06040A;
    margin-top: 100px;
}

.news_details__title-section {
	font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #06040A;
    margin-top: 100px;
}

.news_details__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #121e31;
    margin-top: 28px;
}

.news_details__comment {
    max-width: 1267px;
    height: 300px;
    margin: 90px 0 0 auto;
}

.news_details__comment__author-text {
    margin-left: 4%;
}

.news_details__comment__author-text__author {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    color: #06040A;
    margin-top: 40px;
}

.news_details__comment__author-text__text {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 24px;
    line-height: 46px;
    color: #06040A;
    margin-top: 40px;
}

.news_details__share-article {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #000000;
    margin-top: 15px;
}



button:hover {
    border: 1px solid rgba(156, 132, 179, 0.7);
}
button:active {
    background: rgba(87, 87, 87, 0.2);
}


@media (max-width: 740px) {
	.news_details__title-section {
		margin-top: 200px;
	}
}
@media (max-width: 590px) {
	.news_details__title-section {
		margin-top: 300px;
	}
}
@media (max-width: 500px) {
	.news_details__title-section {
		margin-top: 400px;
	}
}
@media (max-width: 410px) {
	.news_details__title-section {
		margin-top: 500px;
	}
}
@media (max-width: 384px) {
	.news_details__title-section {
		margin-top: 700px;
	}
}
@media (max-width: 340px) {
	.news_details__title-section {
		margin-top: 850px;
	}
}