<!DOCTYPE html>

<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <div class="container filter p-0">
        <div class="filter__title">Filter</div>
        <div class="filter__categories">
            <div class="filter__categories__title">Category</div>
            <div class="d-flex filter__categories__str">
                <input type="checkbox" class="filter__categories__checkbox" />
                <div class="filter__categories__categories">All Projects</div>
            </div>
            <hr />
            <div class="d-flex filter__categories__str">
                <input type="checkbox" class="filter__categories__checkbox" />
                <div class="filter__categories__categories">Technology</div>
            </div>
            <hr />
            <div class="d-flex filter__categories__str">
                <input type="checkbox" class="filter__categories__checkbox" />
                <div class="filter__categories__categories">Medical</div>
            </div>
            <hr />
            <div class="d-flex filter__categories__str">
                <input type="checkbox" class="filter__categories__checkbox" />
                <div class="filter__categories__categories">Business</div>
            </div>
            <hr />
            <div class="d-flex filter__categories__str">
                <input type="checkbox" class="filter__categories__checkbox" />
                <div class="filter__categories__categories">Fashion</div>
            </div>
            <hr />
            <label class="filter__categories__see-more">See More Categories</label>
            <select class="filter__categories__select">
                <option></option>
            </select>
            <hr />
                <button>SEARCH PROJECTS</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
