.success_story {
    max-width: 1620px;
    margin-top: 150px;
}

.success_story__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
}

.success_story__theme {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.success_story__text {
    font-family: 'Open Sans';
    line-height: 28px;
}

.success_story__button-col {
    justify-content: end;
}

.success_story__button {
    max-width: 270px;
    height: 58px;
    background: #1B8271;
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition: 0.4s;
}

.success_story__button:hover {
    border: 2px solid black;
    background: rgba(27, 130, 113, 0.8);
}

.success_story__button:active {
    background: rgba(27, 130, 113, 0.4);
}

.success_story__button__text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.success_story__main {
    display: flex;
    align-items: center;
}

.success_story__main__column__photo {
    width: 95%;
}

.success_story__main__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.success_story__main__text {
    font-family: 'Open Sans';
    line-height: 28px;
}

.success_story__main__number {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.success_story__main__number-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.success_story__main__author__author {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.success_story__main__author__campaign {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}

.success_story__main__author__city {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717579;
}


@media (max-width: 990px) {
    .success_story__main__column {
        text-align: center;
    }

    .success_story__button-col {
        justify-content: center;
    }

    .success_story__title,
    .success_story__theme,
    .success_story__text,
    .success_story__main__title,
    .success_story__main__text,
    .success_story__main__number,
    .success_story__main__number-text {
        text-align: center;
    }
}

@media(max-width: 430px) {
    .success_story__main__number {
        font-weight: 600;
        font-size: 30px;
    }
}