.success_story {
    margin-top: 100px;
}
.success_story__button-col {
    justify-content: end;
}

@media (max-width: 990px) {
    .success_story__button-col {
        justify-content: center;
    }
}