<!DOCTYPE html>
<html lang="ru">
    <head>
    <title>Crowdfounding</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    </head>
    
    <body>
        <div class="wrap">
            <header class="header"></header>
            <main class="page"></main>
        </div>
        <footer class="footer">
            <div class="footer_row">
                <div class="footer_container">
                    <div class="footer_block_menu">
                        <div class="header_block_col_1">
                                <img class="col_1_logo" src="/img/img_footer/logo_footer.png" alt="">
                                <div class="col_1_title">Akcel is a Crowdfunding & Charity Website by Peterdraw lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</div>
                                <div class="icon_social_network_block">
                                    <div class="icon_social_network-container"><img class="icon_social_network" src="/img/img_footer/icon_fb.png" alt=""></div>
                                    <div class="icon_social_network-container"><img class="icon_social_network" src="/img/img_footer/icon_tw.png" alt=""></div>
                                    <div class="icon_social_network-container"><img class="icon_social_network" src="/img/img_footer/icon_yt.png" alt=""></div>
                                    <div class="icon_social_network-container"><img class="icon_social_network" src="/img/img_footer/icon_in.png" alt=""></div>
                                    <div class="icon_social_network-container"><img class="icon_social_network" src="/img/img_footer/icon_inst.png" alt=""></div>
                                </div>
                        </div>
                        <div class="header_block_col_2">
                            <div class="col_title">Akcel</div>
                            <div class="col_menu__btn">Why Akcel</div>
                            <div class="col_menu__btn">Enterprise</div>
                            <div class="col_menu__btn">Customer Story</div>
                            <div class="col_menu__btn">Security</div>
                            <div class="col_menu__btn">Pricing</div>
                        </div>
                        <div class="header_block_col_3">
                            <div class="col_title">Resources</div>
                            <div class="col_menu__btn">Download</div>
                            <div class="col_menu__btn">Help Center</div>
                            <div class="col_menu__btn">Events</div>
                            <div class="col_menu__btn">Guides</div>
                            <div class="col_menu__btn">Partner</div>
                            <div class="col_menu__btn">Directories</div>
                        </div>
                        <div class="header_block_col_4">
                            <div class="col_title">Company</div>
                            <div class="col_menu__btn">About us</div>
                            <div class="col_menu__btn">Contact us</div>
                            <div class="col_menu__btn">Products</div>
                            <div class="col_menu__btn">Login</div>
                            <div class="col_menu__btn">Sign Up</div>
                            <div class="col_menu__btn">FAQ</div>
                        </div>
                        <div class="header_block_col_5">
                            <div class="col_title">Get in Touch with Us</div>
                            <div class="col_menu__btn _idividual-style">
                                <img class="icon_contact" src="/img/img_footer/icon_location.png" alt="">
                                <div class="col_menu__btn">832  Thompson Drive, San Fransisco CA 94107, United States</div>
                            </div>
                            <div class="col_menu__btn _idividual-style">
                                <img class="icon_contact" src="/img/img_footer/icon_tel.png" alt="">
                                <div class="col_menu__btn">394-091-3312</div>
                            </div>
                            <div class="col_menu__btn _idividual-style">
                                <img class="icon_contact" src="/img/img_footer/icon_mail.png" alt="">
                                <div class="col_menu__btn">support@akcel.com</div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="footer_block_copyright">
                <h6>Akcel Crowdfunding & Charity Website  -   © 2021 by Peterdraw</h6>
            </div>
        
            
        </footer> 
    </body>
</html>
