.container-text {
    margin-top: 100px;
    max-width: 700px;
}

.main_container__icon {
    max-width: 250px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0 10px 0 10px;
}