.add_project {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 130px;
    padding-top: 30px;
}

input {
    border: 2px solid #D7D7D7;
    border-radius: 8px;
    min-height: 50px;
    width: 87%;
    padding-left: 20px;
}

.input_image {
    padding-top: 8px;
}

textarea {
    width: 50%;
    border: 2px solid #FF7468;
    border-radius: 8px;
    right: 300px;
    padding: 10px 0 0 20px;
}

.button {
    background: #FF7468;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    width: 210px;
    height: 50px;
    border-radius: 8px;
    border: none;
}