.we_help_surface {
    max-width: 1620px;
    margin-top: 100px;
}

.we_help_surface__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
}

.we_help_surface__theme {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
}

.we_help_surface__theme-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 60px;
    line-height: 90px;
}

.we_help_surface__text {
    max-width: 669px;
    font-family: 'Open Sans';
    line-height: 28px;
}

.we_help_surface__buttons__learn_more {
    max-width: 240px;
    height: 60px;
    background: #FF7468;
    box-shadow: 0px 25px 50px rgba(255, 116, 104, 0.36);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}

.we_help_surface__buttons__donate {
    width: 167px;
    height: 60px;
    background: #FBFBFB;
    border: 2px solid #D7D7D7;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #717579;
    transition: 0.4s;
}

.we_help_surface__our_partners {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #717579;
}

.we_help_surface__logotypes {
    max-width: 555px;
}

.we_help_surface__buttons__learn_more:hover,
.we_help_surface__buttons__donate:hover {
    border: 2px solid black;
    cursor: pointer;
}

.we_help_surface__buttons__learn_more:hover {
    background: rgba(255, 116, 104, 0.9);
}

.we_help_surface__buttons__learn_more:active {
    background: rgba(255, 117, 104, 0.7)
}

.we_help_surface__buttons__donate:hover {
    background: rgba(94, 94, 94, 0.1);
}

.we_help_surface__buttons__donate:active {
    background: rgba(94, 94, 94, 0.3);
}

@media (max-width: 991px) {
    .we_help_surface-row,
    .we_help_surface-row-title {
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 360px) {
    .we_help_surface__theme-text {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }
}