.about_our_company_container {
	height: 601px;
    background: rgba(10, 98, 83);
    text-align: center;
    background-image: url('images/page2_about_our_company_example.png');
    background-repeat: no-repeat;  
    background-position: center;
}

.about_our_company_container__first-part {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
    padding-top: 247px;
}

.about_our_company_container__second-part {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
	margin-top: 20px;
}