body {
    width: 1920px;
    height: 533px;
    background:#1C8775;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}

.block_10__text {
    margin: 117px 565px 35px;
    width: 789px;
    height: 150px;
    font-size: 50px;
    line-height: 75px;
}

 .input{
    margin: 35px 9px 118px 644px;
    width: 392px;
    height: 78px;
    background-color: #11ffee00;
    border: 1px solid #FBFBFB;
    border-radius: 8px;
    padding: 27px 141px 27px 35px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
 }
.block_10__form-button{
    width: 221px;
    height: 78px;
    padding: 25px 55px;
    color: white;
    margin: 35px 645px 118px 9px;
    background: #FF7468;
    box-shadow: 0px 25px 50px rgba(255, 116, 104, 0.36);
    border-radius: 8px;
}
