.header-top,
.header-bottom {
    max-width: 1620px;
}

.header__top__left__text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.header__top__left__button {
    width: 168px;
    height: 45px;
    background: #1B8271;
    border: 1px solid #F6FBFA;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 600;
}

.header__top__right__phone-email {
    font-family: 'Poppins';
    font-weight: 600;
    justify-content: end;
}

.header-bottom__ref {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #717579;
}

.header-bottom__ref:hover {
    font-family: 'Poppins';
    color: #121E31;
}

.header-bottom__button {
    justify-content: end;
}

.header-bottom__button__button {
    width: 230px;
    height: 60px;
    border: 1px solid #FF7468;
    border-radius: 8px;
    background: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #FF7468;
}

@media(max-width: 990px) {
    .header__top__right__phone-email {
        justify-content: center;
    }

    .header__top__left__text,
    .header-bottom__logo {
        text-align: center;
    }

    .header__top__left__button {
        margin: auto;
    }

    .header-bottom__button {
        justify-content: center;
    }
}