
.header-bottom__ref {
    transition: 0.3s;
    text-decoration: none;
    color: var(--gray);
}

.header-bottom__ref:hover {
    color: #000000;
}

.header-bottom__button {
    justify-content: end;
}

.header-top-email-phone {
    justify-content: end;
}