.header-top,
.header-bottom {
    max-width: 1620px;
}

.header__top__left__text {
    font-family: 'Poppins';
    font-weight: 600;
}

.header__top__left__button {
    width: 168px;
    height: 45px;
    background: #1B8271;
    border: 1px solid #F6FBFA;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 600;
    transition: 0.2s;
}

.header__top__left__button:hover {
    background: rgba(27, 130, 113, 0.9);
}
.header__top__left__button:active {
    background: rgba(27, 130, 113, 0.7);
}

.header__top__right__phone-email {
    font-family: 'Poppins';
    font-weight: 600;
    justify-content: end;
}

.header-bottom__ref {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #717579;
    transition: 0.3s;
}

.header-bottom__ref:hover {
    color: #000000;
    font-weight: 600;
}

.header-bottom__button {
    justify-content: end;
}

.header-bottom__button__button {
    width: 230px;
    height: 60px;
    border: 1px solid #FF7468;
    border-radius: 8px;
    background: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #FF7468;
    transition: 0.3s;
}

.header-bottom__button__button:hover {
    background: rgba(214, 214, 214, 0.3);
    border: 1px solid red;
}

@media (max-width: 990px) {
    .header__top__right__phone-email {
        justify-content: center;
    }

    .header__top__left__text,
    .header-bottom__logo {
        text-align: center;
    }

    .header__top__left__button {
        margin: auto;
    }

    .header-bottom__button {
        justify-content: center;
    }
}