.who_we_are {
    max-width: 1620px;
    margin-top: 100px;
}

.who_we_are__title {
    max-width: 670px;
}

.who_we_are__main_text {
    max-width: 600px;
}

.who-title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
}

.who_we_are__item__right {
    margin-left: 40px;
}

.who_we_are__item__right__text {
    max-width: 625px
}

.who_we_are__item__icon {
    margin-left: 30%;
}

@media (max-width: 991px) {
    .who_we_are-header,
    .who_we_are__title,
    .who_we_are__main_text,
    .who_we_are__panel {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .who_we_are__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    }
    .who_we_are__item__right__title {
        font-size: 20px;
    }
}