.success-story_header {
    background: var(--green);
}

.story-text {
    max-width: 805px;
}

.success-story_main {
    max-width: 1345px;
    margin-top: 100px;
}

@media(max-width: 991px) {
    .story-profile {
        justify-content: center;
    }
}

@media(max-width: 385px) {
    .total-founded {
        font-size: 30px;
    }
}