.login__form {
    max-width: 500px;
    min-height: 570px;
    background: #FFFFFF;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 14px;
    margin: 100px auto 0 auto;
}

.login__form__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #121E31;
    padding: 40px 0 20px 15%;
}

.login__form__text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #717579;
    margin: 20px 0 0 15%;
}

.login__form__input {
    max-width: 80%;
    height: 50px;
    background: #FBFBFB;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    margin: 20px 0 0 15%;
    padding-right: 20%;
    padding-left: 5%;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #121E31;
}

.login__form__login {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #F9F9FA;
    background: #FF7468;
    box-shadow: 0px 25px 50px rgba(255, 116, 104, 0.36);
    border-radius: 8px;
    border: none;
    margin: 60px 0 25px 15%;
    padding: 17px 30% 17px 30%;
}

.login__form__forgot-password {
    text-decoration: none;
    font-size: 16px;
}

.login__form__rem-me_forgot-pass {
    max-width: 345px;
    margin: 30px 0 0 15%;
}

.login__form__checkbox {
    width: 30px;
    height: 30px;
    border: 3px solid #544E5D;
    border-radius: 4px;
}

.login__form__rem-me_forgot-pass__rem-me {
    font-size: 16px;
    vertical-align: top;
    margin-left: 5px;
}



.login__form__send:hover {
    border: 2px solid rgba(0, 0, 0, 0.4);
}
.login__form__send:active {
    background: rgba(255, 156, 156, 1);
}


input:hover {
    cursor: pointer;
}
.login__form:hover {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.2)
}