<!DOCTYPE html>

<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <div class="container p-0 categories">
        <div class="categories__header">CATEGORIES</div>
        <div class="categories__title">Why choose Akcel</div>
        <div class="categories__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no</div>
    </div>
    <div class="container p-0 categories-main">
        <div class="d-flex justify-content-between">
            <div class="d-flex categories-main__part">
                <img src="images/icon-head.svg" class="categories-main__part__logo" />
                <div style="margin-left: 3%">
                    <div class="categories-main__part__title">Quo maxime qui impedit odio soluta</div>
                    <div class="categories-main__part__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="d-flex categories-main__part">
                <img src="images/icon-square.svg" class="categories-main__part__logo" />
                <div style="margin-left: 3%">
                    <div class="categories-main__part__title">Ut nisi ea vero itaque error magnam</div>
                    <div class="categories-main__part__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-top: 35px">
            <div class="d-flex categories-main__part">
                <img src="images/icon-medical_bag.svg" class="categories-main__part__logo" />
                <div style="margin-left: 3%">
                    <div class="categories-main__part__title">Quaerat nobis est</div>
                    <div class="categories-main__part__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="d-flex categories-main__part">
                <img src="images/icon-book.svg" class="categories-main__part__logo" />
                <div style="margin-left: 3%">
                    <div class="categories-main__part__title">Deleniti iure ipsa eos eaque unde</div>
                    <div class="categories-main__part__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
