.dont_miss {
    min-height: 533px;
    background: #1B8271;
    margin-top: 150px;
}

.dont_miss__text {
    max-width: 789px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    margin: 0 auto;
}

.dont_miss__left_column {
    text-align: end;
}

.dont_miss__input {
    min-height: 78px;
    max-width: 430px;
    border: 2px solid #FBFBFB;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    padding-left: 3%;
    padding-right: 20%;
    color: #FBFBFB;
    background: #1B8271;
    transition: 0.4s;
    outline: none;
}

.dont_miss__input:hover,
.dont_miss__input:focus {
    border: 2px solid rgb(161, 161, 161);
}

.dont_miss__input::placeholder {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #FBFBFB;
}

.dont_miss__button {
    border: 2px solid #1B8271;
    width: 221px;
    height: 78px;
    background: #FF7468;
    box-shadow: 0px 25px 50px rgba(255, 116, 104, 0.36);
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #F9F9FA;
    transition: 0.4s;
}

.dont_miss__button:hover {
    background: rgb(255, 136, 125);
}

.dont_miss__button:active {
    background: rgb(255, 190, 185);
}

@media (max-width: 995px) {
    .dont_miss__left_column,
    .dont_miss__right_column {
        text-align: center
    }
}