.we_help_surface {
    margin-top: 100px;
}

.logotypes {
    max-width: 555px;
}

@media(max-width: 991px) {
    .help-panel {
        display: none;
    }
    .title, .btn-center {
        display: flex;
        justify-content: center;
    }
    .title-tile, .partners {
        text-align: center;
    }
    .logotypes {
        margin: auto;
    }
}