.we_help_surface {
    margin-top: 100px;
}

.we_help_surface__text {
    max-width: 669px;
}

.we_help_surface__our_partners {
    color: #717579;
}

.we_help_surface__logotypes {
    max-width: 555px;
}