.aksel_news-header {
    margin-top: 150px;
}

.aksel_news-header__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #080A12;
    margin-top: 30px;
}

.aksel_news-header__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    color: #121e31;
    max-width: 669px;
    margin: 20px auto 0 auto;
}

.aksel_news-main {
    max-width: 1620px;
}

.aksel_news-main-item {
    width: 509px;
    min-height: 620px;;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.02);
    border-radius: 20px;
}

.aksel_news-main__logo {
    position: relative;
}

.aksel_news-main__category {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    padding: 18px 18px 18px 22px;
    background: #FF7468;
    border-radius: 14px;
    position: absolute;
    margin: -60% 0 0 13px;
}

.aksel_news-main__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    max-width: 440px;
    margin: 30px 0 0 30px;
}

.aksel_news-main__text {
    font-family: 'Open Sans';
    line-height: 28px;
    max-width: 450px;
    margin: 20px auto 0 30px;
}

.aksel_news-main__author {
    margin: 20px 0 0 30px;
}

.aksel_news-main__author__author__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.aksel_news-main__author__time-read {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717579;
}