<!DOCTYPE html>

<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <div class="container p-0 team_members__header">
        <div class="team_members__header__header">TEAM MEMBER</div>
        <div class="team_members__header__title">Meet Our Great Member</div>
        <div class="team_members__header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</div>
    </div>
    <div class="container p-0 team_members__main">
        <div class="row">
            <div class="col">
                <img src="images/profile.svg" class="team_members__main__profile"/>
                <div class="team_members__main__name">Kaylynn Donin</div>
                <div class="team_members__main__job">Managing Director</div>
            </div>
            <div class="col">
                <img src="images/profile.svg" class="team_members__main__profile" />
                <div class="team_members__main__name">Lindsey Botosh</div>
                <div class="team_members__main__job">National Web Assistant</div>
            </div>
            <div class="col">
                <img src="images/profile.svg" class="team_members__main__profile" />
                <div class="team_members__main__name">Phillip Schleifer</div>
                <div class="team_members__main__job">National Intranet Specialist</div>
            </div>
            <div class="col">
                <img src="images/profile.svg" class="team_members__main__profile" />
                <div class="team_members__main__name">Jakob Ekstrom Bothman</div>
                <div class="team_members__main__job">District Accounts Analyst</div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
