.become_our_prem {
    margin-top: 100px;
    min-height: 335px;
}

.become_our_prem__row {
    max-width: 1620px;
    min-height: 335px;
    margin: auto;
}

.become_our_prem__row__text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}

.become_our_prem__row__button {
    width: 221px;
    height: 78px;
    background: #121E31;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.become_our_prem__row-btn {
    justify-content: end;
}

@media(max-width: 991px) {
    .become_our_prem__row-btn {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .become_our_prem__row__text {
        text-align: center;
    }
}