.donate_to {
    max-width: 381px;
    background: #121E31;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: 100% 99%;
    margin-left: 8%;
}

.donate_to__text {
    max-width: 406px;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    padding: 48px 0 0 7%;
}

.donate_to__main-text {
    max-width: 296px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 16px 0 0 7%;
}

.donate_to__btn {
    max-width: 200px;
    min-height: 66px;
    background: #FF7468;
    border-radius: 8px;
    border: 1px solid #121E31;
    box-shadow: 0px 20px 25px rgba(255, 116, 104, 0.18), 0px 10px 10px rgba(255, 116, 104, 0.04);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    margin: 50px 0 30px 7%;
}
.donate_to__btn:hover {
    border: 1px solid white;
}

@media (max-width: 1400px) {
    .donate_to {
        margin: auto;
    }
}