<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-xxl row mx-auto container">
        <div class="col">
            <div class="d-grid gap-3">
                <h6 class="fw-bold text-success">- Crowdfunding</h6>
                <h1 class="text-wrap fw-bold">We Help Surface</h1>
                <h1 class="text-wrap">Innovations In Technology</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <div class="d-flex justify-content-start gap-3 ">
                        <button type="button" class="rounded d-flex gap-3 py-2 px-3 btn shadow-lg" style="background-color: #FF7468;">
                            <p class="text-white my-auto ">Learn More</p>
                            <img src="./images/Buttons/Vector.svg " alt="" class="my-auto">
                        </button>
                        <button type="button" class="rounded border border-1 py-2 px-4 btn" style="background-color: #FBFBFB;">Donate</button>
                    </div>
            </div>
            <div class="pt-5 w-75">
                <p>Ourt Partners</p>
                <div class="d-flex gap-5">
                    <img src="./images/partners/higlow.svg" alt="" class="img-fluid"> 
                    <img src="./images/partners/amajine.svg" alt="" class="img-fluid">
                    <img src="./images/partners/growup.svg" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        <img src="./images/panels/hero.svg" alt="" class="col">
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
</body>
</html>
